@import "tailwindcss";

:root {

  --midnight-blue: #1b1c37;
  --purple-gradient: #675ce7;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme{
  --color-midnight-blue: #1b1c37;
  --color-purple-gradient: #675ce7;
}


body {
  background: var(--midnight-blue);
  color: #ffff;
  font-family: Arial, sans-serif;
}
